<html>
    <body>
      <div style="height: 100vh; width: 100%; background-image: url(assets/images/background.jpg);  
      background-repeat: no-repeat;  background-size: cover;">
        <!--
   <div 
         fxLayout="row wrap" 
         fxLayout.lt-sm="column" 
         fxLayoutGap="32px" 
         fxLayoutAlign="flex-start">
       <ng-container *ngFor="let _ of [1,2,3,4,5,6]">
         <mat-card 
           fxFlex="0 1 calc(33.3% - 32px)"
           fxFlex.lt-md="0 1 calc(50% - 32px)"
           fxFlex.lt-sm="100%"
         ></mat-card>
       </ng-container>
       </div> 
      
       <div class="overlaycard">
            <div class="homapagecard">    
               <p> Hi Fellow Human! How was Your day!</p>
            </div> 
              <br><br>
              <button mat-raised-button class="transparentbutton">Kind of Sad!</button> 
              <button mat-raised-button class="transparentbutton">Need a break!</button>
              <button mat-raised-button class="transparentbutton">Feeling on top of the world!</button> 
        </div> -->
        
    </div> 
    </body>
</html> 